/* root colors */
:root {
  /* cancelled */
  --cancelled: #c9c9c7;
  --cancelledtext: #000;
  --cancelled_HSLA: 60, 2%, 78%;
  --cancelledalt1: hsla(var(--cancelled_HSLA), 0.95);
  --cancelledalt2: hsla(var(--cancelled_HSLA), 0.90);
  --cancelledalt3: hsla(var(--cancelled_HSLA), 0.85);
  --cancelledalt4: hsla(var(--cancelled_HSLA), 0.80);
  --cancelledboxshadow: hsla(var(--cancelled_HSLA), 0.5);
  /* pending */
  --pending: #c09a2f;
  --pendingtext: #000;
  --pending_HSLA: 44, 61%, 47%;
  --pendingalt1: hsla(var(--pending_HSLA), 0.95);
  --pendingalt2: hsla(var(--pending_HSLA), 0.90);
  --pendingalt3: hsla(var(--pending_HSLA), 0.85);
  --pendingalt4: hsla(var(--pending_HSLA), 0.80);
  --pendingboxshadow: hsla(var(--pending_HSLA), 0.5);
  /* inprogress */
  --inprogress: #c14d86;
  --inprogresstext: #fff;
  --inprogress_HSLA: 331, 48%, 53%;
  --inprogressalt1: hsla(var(--inprogress_HSLA), 0.95);
  --inprogressalt2: hsla(var(--inprogress_HSLA), 0.90);
  --inprogressalt3: hsla(var(--inprogress_HSLA), 0.85);
  --inprogressalt4: hsla(var(--inprogress_HSLA), 0.80);
  --inprogressboxshadow: hsla(var(--inprogress_HSLA), 0.5);
  /* completed */
  --completed: #959c3a;
  --completedtext: #fff;
  --completed_HSLA: 64, 46%, 42%;
  --completedalt1: hsla(var(--completed_HSLA), 0.95);
  --completedalt2: hsla(var(--completed_HSLA), 0.90);
  --completedalt3: hsla(var(--completed_HSLA), 0.85);
  --completedalt4: hsla(var(--completed_HSLA), 0.80);
  --completedboxshadow: hsla(var(--completed_HSLA), 0.5);
}

/* global styles */

.btn-pending,
.btn-outline-pending,
.btn-inprogress,
.btn-outline-inprogress,
.btn-completed,
.btn-outline-completed,
.btn-cancelled,
.btn-outline-cancelled {
  border-radius: 0 !important;
  text-transform: uppercase;
  font-size: 18px !important;
}

/* pending */

.btn-pending {
  color: var(--pendingtext) !important;
  border-color: var(--pending) !important;
  background-color: var(--pending) !important;
}

.btn-outline-pending {
  color: var(--pending) !important;
  border: 2px solid var(--pending) !important;
  background-color: inherit;
}

.btn-pending:hover,
.btn-outline-pending:hover {
  color: var(--pendingtext) !important;
  background-color: var(--pendingalt1) !important;
  border-color: var(--pendingalt2) !important;
}

.btn-pending:focus,
.btn-outline-pending:focus {
  color: var(--pendingtext) !important;
  background-color: var(--pendingalt1) !important;
  box-shadow: 0 0 0 0.25rem var(--pendingboxshadow) !important;
  border-color: var(--pendingalt3) !important;
}

.btn-pending:not(:disabled):not(.disabled).active {
  background-color: var(--pendingalt3) !important;
  border-color: var(--pendingalt4) !important;
}

.btn-outline-pending:not(:disabled):not(.disabled).active {
  color: var(--pendingtext) !important;
  background-color: var(--pending) !important;
  border-color: var(--pending) !important;
}

/* inprogress */

.btn-inprogress {
  color: var(--inprogresstext) !important;
  border-color: var(--inprogress) !important;
  background-color: var(--inprogress) !important;
}

.btn-outline-inprogress {
  color: var(--inprogress) !important;
  border: 2px solid var(--inprogress) !important;
  background-color: inherit;
}

.btn-inprogress:hover,
.btn-outline-inprogress:hover {
  color: var(--inprogresstext) !important;
  background-color: var(--inprogressalt1) !important;
  border-color: var(--inprogressalt2) !important;
}

.btn-inprogress:focus,
.btn-outline-inprogress:focus {
  color: var(--inprogresstext) !important;
  background-color: var(--inprogressalt1) !important;
  box-shadow: 0 0 0 0.25rem var(--inprogressboxshadow) !important;
  border-color: var(--inprogressalt3) !important;
}

.btn-inprogress:not(:disabled):not(.disabled).active {
  background-color: var(--inprogressalt3) !important;
  border-color: var(--inprogressalt4) !important;
}

.btn-outline-inprogress:not(:disabled):not(.disabled).active {
  color: var(--inprogresstext) !important;
  background-color: var(--inprogress) !important;
  border-color: var(--inprogress) !important;
}

/* completed */

.btn-completed {
  color: var(--completedtext) !important;
  border-color: var(--completed) !important;
  background-color: var(--completed) !important;
}

.btn-outline-completed {
  color: var(--completed) !important;
  border: 2px solid var(--completed) !important;
  background-color: inherit;
}

.btn-completed:hover,
.btn-outline-completed:hover {
  color: var(--completedtext) !important;
  background-color: var(--completedalt1) !important;
  border-color: var(--completedalt2) !important;
}

.btn-completed:focus,
.btn-outline-completed:focus {
  color: var(--completedtext) !important;
  background-color: var(--completedalt1) !important;
  box-shadow: 0 0 0 0.25rem var(--completedboxshadow) !important;
  border-color: var(--completedalt3) !important;
}

.btn-completed:not(:disabled):not(.disabled).active {
  background-color: var(--completedalt3) !important;
  border-color: var(--completedalt4) !important;
}

.btn-outline-completed:not(:disabled):not(.disabled).active {
  color: var(--completedtext) !important;
  background-color: var(--completed) !important;
  border-color: var(--completed) !important;
}

/* cancelled */

.btn-cancelled {
  color: var(--cancelledtext) !important;
  border-color: var(--cancelled) !important;
  background-color: var(--cancelled) !important;
}

.btn-outline-cancelled {
  color: var(--cancelled) !important;
  border: 2px solid var(--cancelled) !important;
  background-color: inherit;
}

.btn-cancelled:hover,
.btn-outline-cancelled:hover {
  color: var(--cancelledtext) !important;
  background-color: var(--cancelledalt1) !important;
  border-color: var(--cancelledalt2) !important;
}

.btn-cancelled:focus,
.btn-outline-cancelled:focus {
  color: var(--cancelledtext) !important;
  background-color: var(--cancelledalt1) !important;
  box-shadow: 0 0 0 0.25rem var(--cancelledboxshadow) !important;
  border-color: var(--cancelledalt3) !important;
}

.btn-cancelled:not(:disabled):not(.disabled).active {
  background-color: var(--cancelledalt3) !important;
  border-color: var(--cancelledalt4) !important;
}

.btn-outline-cancelled:not(:disabled):not(.disabled).active {
  color: var(--cancelledtext) !important;
  background-color: var(--cancelled) !important;
  border-color: var(--cancelled) !important;
}

/* @function convert-color($hex, $fr) {
    @return rgba(red($hex), green($hex), blue($hex), $fr);
  }
  
  @function text-color($color) {
    @if (lightness($color) > 50) {
      @return #000;
    } @else {
      @return #fff;
    }
  }
  
  @mixin common-mixin($color) {
    border-color: $color;
    &:hover {
      background-color: darken($color, 7%);
      border-color: darken($color, 11%);
    }
    &:focus {
      box-shadow: 0 0 0 0.25rem transparentize($color, 0.5);
    }
    &:not(:disabled, .disabled) {
      &:active,
      &.active {
        background-color: darken($color, 7%);
        border-color: darken($color, 11%);
      }
    }
  }
  
  @mixin btn-mixin($color) {
    @include common-mixin($color);
    background-color: $color;
    color: text-color($color);
  }
  
  @mixin outline-mixin($color) {
    @include common-mixin($color);
    background-color: convert-color($color, 0);
    color: $color;
    &:hover {
      color: text-color($color);
    }
    &:not(:disabled, .disabled) {
      &:active,
      &.active {
        color: text-color($color);
      }
    }
  } */

/* @import "_variables";
@import "_mixins";

.btn {
    &.btn- {
        &red {
            @include btn-mixin($red);
        }

        &yellow {
            @include btn-mixin($yellow);
        }

        &pink {
            @include btn-mixin($pink);
        }

        &green {
            @include btn-mixin($green);
        }

        &orange {
            @include btn-mixin($orange);
        }

        &purple {
            @include btn-mixin($purple);
        }

        &blue {
            @include btn-mixin($blue);
        }
    }

    &.outline- {
        &red {
            @include outline-mixin($red);
        }

        &yellow {
            @include outline-mixin($yellow);
        }

        &pink {
            @include outline-mixin($pink);
        }

        &green {
            @include outline-mixin($green);
        }

        &orange {
            @include outline-mixin($orange);
        }

        &purple {
            @include outline-mixin($purple);
        }

        &blue {
            @include outline-mixin($blue);
        }
    }
} */